<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="mt-4 bg-cover bg-center" style="background-image: url('https://www.pixelstalk.net/wp-content/uploads/2016/08/Old-Library-Wallpaper.jpg');">
    <div class="flex justify-around bg-gray-500 text-white p-12">
        <div>
            <h1 class="text-2xl bg-gradient-to-r from-pink-300 via-yellow-300 to-blue-300 bg-clip-text text-transparent">
                Library Management System
            </h1>
        </div>
        
        <div class="flex gap-16">
            <a class="text-xl hover:text-blue-400" href="/login">Login</a>
            <a class="text-xl hover:text-blue-400" href="/signup">Signup</a>
            <a class="text-xl hover:text-blue-400" href="/admin">Admin</a>
            <a class="text-xl hover:text-blue-400" href="/books">Books</a>
        </div>
    </div>
</body>
</html>
